{% extends "master.twig" %}

{% block title %}Webtaro Framnework 0.1{% endblock %}

{% block custom_css %}
	<!-- Put your custom CSS here -->
{% endblock %}

{% block body %}
	<body class="hold-transition login-page">
		<h1>Welcome to Webtaro!</h1>
		<h4>{{ description }}</h4>
	</body>

{% endblock %}
{% block page_libraries %}
	<!-- Put your custom libraries here -->
{% endblock %}