{% extends "master.twig" %}

{% block title %}Webtaro Framnework 0.1{% endblock %}

{% block custom_css %}
	<!-- Put your custom CSS here -->
{% endblock %}

{% block body %}
	<body>
		<div style="width:500px; margin: 200px auto auto;">
			<h1>Welcome to Webtaro!</h1>
			<h4>{{ description }}</h4>
		</div>
	</body>

{% endblock %}
{% block page_libraries %}
	<!-- Put your custom libraries here -->
{% endblock %}